doctype html(lang='en')
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Metorik #{title} - Responsive Bootstrap 4 Admin Dashboard Template
    link(rel='shortcut icon', href='./assets/images/favicon.ico')
    include ../partials/head
  body.header-top-bg
    include ../partials/body

    include ../partials/script
