extends ../Layouts/master

block content
    .container-fluid
        .row
            .col-sm-12.col-lg-6
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Simple Column Chart
                    .iq-card-body
                        #am-simple-chart(style='height: 500px;')
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title  Layered Column Chart
                    .iq-card-body
                        #am-layeredcolumn-chart(style='height: 500px;')
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title  Bar and line chart mix
                    .iq-card-body
                        #am-barline-chart(style='height: 500px;')
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title  Line Chart with Scroll and Zoom
                    .iq-card-body
                        #am-linescrollzomm-chart(style='height: 500px;')
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title  Radar Chart
                    .iq-card-body
                        #am-radar-chart(style='height: 500px;')
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title  Polar Chart
                    .iq-card-body
                        #am-polar-chart(style='height: 500px;')
            .col-sm-12.col-lg-6
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Column and Line Mix Chart
                    .iq-card-body
                        #am-columnlinr-chart(style='height: 500px;')
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title  Stacked Column Chart
                    .iq-card-body
                        #am-stackedcolumn-chart(style='height: 500px;')
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title  Date Based Data
                    .iq-card-body
                        #am-datedata-chart(style='height: 500px;')
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title  zoomable on Value Axis
                    .iq-card-body
                        #am-zoomable-chart(style='height: 500px;')
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title  Polar Scatter
                    .iq-card-body
                        #am-polarscatter-chart(style='height: 500px;')
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title  3D Pie Chart
                    .iq-card-body
                        #am-3dpie-chart(style='height: 500px;')
