extends ../Layouts/master

block content
    .container-fluid
        .row
            .col-sm-12.col-lg-6
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Line Chart
                    .iq-card-body
                        #apex-basic
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Column Chart
                    .iq-card-body
                        #apex-column
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Mixes Chart
                    .iq-card-body
                        #apex-mixed-chart
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title  Bubble Charts
                    .iq-card-body
                        #apex-bubble-chart
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title  Pie Charts
                    .iq-card-body
                        #apex-pie-chart
            .col-sm-12.col-lg-6
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Line Area Chart
                    .iq-card-body
                        #apex-line-area
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Bar Chart
                    .iq-card-body
                        #apex-bar
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title  Candlestick Charts
                    .iq-card-body
                        #apex-candlestick-chart
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title   Scatter Charts
                    .iq-card-body
                        #apex-scatter-chart
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Radial Bar Charts
                    .iq-card-body
                        #apex-radialbar-chart
