extends ../Layouts/master

block content
    .container-fluid
        .row
            .col-sm-12.col-lg-6
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Basic line Chart
                    .iq-card-body
                        #high-basicline-chart
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Column and Bar Chart
                    .iq-card-body
                        #high-columnndbar-chart
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Pie Chart
                    .iq-card-body
                        #high-pie-chart
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Dynamic Chart
                    .iq-card-body
                        #high-dynamic-chart
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Gauges Chart
                    .iq-card-body
                        #high-gauges-chart
            .col-sm-12.col-lg-6
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Area Chart
                    .iq-card-body
                        #high-area-chart
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Scatter plot Chart
                    .iq-card-body
                        #high-scatterplot-chart
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Dual axes, line and column Chart
                    .iq-card-body
                        #high-linendcolumn-chart
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title 3D Chart
                    .iq-card-body
                        #high-3d-chart
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Bar With Nagative Chart
                    .iq-card-body
                        #high-barwithnagative-chart
