extends ../Layouts/master

block content
    .container-fluid
        .row
            .col-lg-6
                .iq-accordion.career-style.faq-style
                    .iq-card.iq-accordion-block.accordion-active
                        .active-faq.clearfix
                            .container
                                .row
                                    .col-sm-12
                                        a.accordion-title
                                            span  It is a long established fact that a reader will be?
                        .accordion-details
                            p.mb-0
                                | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy.
                    .iq-card.iq-accordion-block
                        .active-faq.clearfix
                            .container
                                .row
                                    .col-sm-12
                                        a.accordion-title
                                            span  Distracted by the readable content of a page whent?
                        .accordion-details
                            p.mb-0
                                | It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.
                    .iq-card.iq-accordion-block
                        .active-faq.clearfix
                            .container
                                .row
                                    .col-sm-12
                                        a.accordion-title
                                            span What is user interface kit?
                        .accordion-details
                            p.mb-0
                                | It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.
                    .iq-card.iq-accordion-block
                        .active-faq.clearfix
                            .container
                                .row
                                    .col-sm-12
                                        a.accordion-title
                                            span  The readable content of a page when looking at its layout?
                        .accordion-details
                            p.mb-0
                                | It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.
                    .iq-card.iq-accordion-block
                        .active-faq.clearfix
                            .container
                                .row
                                    .col-sm-12
                                        a.accordion-title
                                            span  The readable content of a page when looking at its layout?
                        .accordion-details
                            p.mb-0
                                | It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.
                    .iq-card.iq-accordion-block
                        .active-faq.clearfix
                            .container
                                .row
                                    .col-sm-12
                                        a.accordion-title
                                            span  What is user interface kit?
                        .accordion-details
                            p.mb-0
                                | It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.
            .col-lg-6
                .iq-accordion.career-style.faq-style
                    .iq-card.iq-accordion-block.accordion-active
                        .active-faq.clearfix
                            .container
                                .row
                                    .col-sm-12
                                        a.accordion-title
                                            span  It is a long established fact that a reader will be?
                        .accordion-details
                            p.mb-0
                                | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy.
                    .iq-card.iq-accordion-block
                        .active-faq.clearfix
                            .container
                                .row
                                    .col-sm-12
                                        a.accordion-title
                                            span  Distracted by the readable content of a page whent?
                        .accordion-details
                            p.mb-0
                                | It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.
                    .iq-card.iq-accordion-block
                        .active-faq.clearfix
                            .container
                                .row
                                    .col-sm-12
                                        a.accordion-title
                                            span What is user interface kit?
                        .accordion-details
                            p.mb-0
                                | It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.
                    .iq-card.iq-accordion-block
                        .active-faq.clearfix
                            .container
                                .row
                                    .col-sm-12
                                        a.accordion-title
                                            span  The readable content of a page when looking at its layout?
                        .accordion-details
                            p.mb-0
                                | It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.
                    .iq-card.iq-accordion-block
                        .active-faq.clearfix
                            .container
                                .row
                                    .col-sm-12
                                        a.accordion-title
                                            span  The readable content of a page when looking at its layout?
                        .accordion-details
                            p.mb-0
                                | It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.
                    .iq-card.iq-accordion-block
                        .active-faq.clearfix
                            .container
                                .row
                                    .col-sm-12
                                        a.accordion-title
                                            span  What is user interface kit?
                        .accordion-details
                            p.mb-0
                                | It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.
                    .iq-card.iq-accordion-block
                        .active-faq.clearfix
                            .container
                                .row
                                    .col-sm-12
                                        a.accordion-title
                                            span  The readable content of a page when looking at its layout?
                        .accordion-details
                            p.mb-0
                                | It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.

