extends ../Layouts/default

block content
    .wrapper
        .mt-5.iq-maintenance
            .container-fluid.p-0
                .row.no-gutters
                    .col-sm-12.text-center
                        .iq-maintenance
                            img.img-fluid(src='assets/images/error/02.png' alt='')
                            h3.mt-4.mb-1 We are Currently Performing Maintenance
                            p Please check back in sometime.
            .container.mt-3
                .row
                    .col-lg-4
                        .iq-card.text-center.mb-0
                            .iq-card-body
                                i.ri-window-line.ri-4x.line-height.text-primary
                                h5.card-title.mt-1 Why is the Site Down?
                                p.mb-0
                                    | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    .col-lg-4
                        .iq-card.text-center.mb-0
                            .iq-card-body
                                i.ri-time-line.ri-4x.line-height.text-primary
                                h5.card-title.mt-1 What is the Downtime?
                                p.mb-0
                                    | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    .col-lg-4
                        .iq-card.text-center.mb-0
                            .iq-card-body
                                i.ri-information-line.ri-4x.line-height.text-primary
                                h5.card-title.mt-1 Do you need Support?
                                p.mb-0
                                    | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
