extends ../Layouts/master

block content
    .container-fluid
        .row
            .col-sm-12
                .iq-card
                    .iq-card-body
                        .table-responsive
                            table.table
                                thead
                                    tr
                                        th.text-center(scope='col')
                                        th.text-center(scope='col') Starter
                                        th.text-center(scope='col') Business
                                        th.text-center(scope='col') Enterprise
                                        th.text-center(scope='col') Unlimited
                                tbody
                                    tr
                                        th.text-center(scope='row') Email support
                                        td.text-center
                                            i.ri-check-line.ri-2x.text-success
                                        td.text-center
                                            i.ri-check-line.ri-2x.text-success
                                        td.text-center
                                            i.ri-check-line.ri-2x.text-success
                                        td.text-center
                                            i.ri-check-line.ri-2x.text-success
                                    tr
                                        th.text-center(scope='row') UI Kit
                                        td.text-center
                                        td.text-center
                                            i.ri-check-line.ri-2x.text-success
                                        td.text-center
                                            i.ri-check-line.ri-2x.text-success
                                        td.text-center
                                            i.ri-check-line.ri-2x.text-success
                                    tr
                                        th.text-center(scope='row') 100% support
                                        td.text-center
                                        td.text-center
                                            i.ri-check-line.ri-2x.text-success
                                        td.text-center
                                            i.ri-check-line.ri-2x.text-success
                                        td.text-center
                                            i.ri-check-line.ri-2x.text-success
                                    tr
                                        th.text-center(scope='row') Advance form
                                        td.text-center
                                            i.ri-check-line.ri-2x.text-success
                                        td.text-center
                                            i.ri-check-line.ri-2x.text-success
                                        td.text-center
                                            i.ri-check-line.ri-2x.text-success
                                        td.text-center
                                            i.ri-check-line.ri-2x.text-success
                                    tr
                                        th.text-center(scope='row') Custom shortcode
                                        td.text-center
                                        td.text-center
                                        td.text-center
                                        td.text-center
                                            i.ri-check-line.ri-2x.text-success
                                    tr
                                        th.text-center(scope='row') Thousand of Widgets
                                        td.text-center
                                        td.text-center
                                        td.text-center
                                            i.ri-check-line.ri-2x.text-success
                                        td.text-center
                                            i.ri-check-line.ri-2x.text-success
                                    tr
                                        td.text-center
                                        td.text-center
                                            h2
                                                | $19
                                                small  / Per month
                                            button.btn.btn-primary.mt-3(type='button') Purchase
                                        td.text-center
                                            h2
                                                | $39
                                                small  / Per month
                                            button.btn.btn-primary.mt-3(type='button') Purchase
                                        td.text-center
                                            h2
                                                | $119
                                                small  / Per month
                                            button.btn.btn-primary.mt-3(type='button') Purchase
                                        td.text-center
                                            h2
                                                | $219
                                                small  / Per month
                                            button.btn.btn-primary.mt-3(type='button') Purchase
