extends ../Layouts/master

block content
    .container-fluid
        .row
            .col-lg-3.col-md-6.col-sm-12
                .iq-card
                    .iq-card-body.border.text-center.rounded
                        span.font-size-16.text-uppercase Basic
                        h2.mb-4.display-3.font-weight-bolder
                            | $26
                            small.font-size-14.text-muted / Month
                        ul.list-unstyled.line-height-4.mb-0
                            li Lorem ipsum dolor sit amet
                            li Consectetur adipiscing elit
                            li Integer molestie lorem at massa
                            li Facilisis in pretium nisl aliquet
                            li Nulla volutpat aliquam velit
                        a.btn.btn-primary.mt-5(href='#') Start Starter
            .col-lg-3.col-md-6.col-sm-12
                .iq-card.bg-primary.text-white
                    .iq-card-body.border.text-center.rounded
                        span.font-size-16.text-uppercase Basic
                        h2.mb-4.display-3.font-weight-bolder.text-white
                            | $99
                            small.font-size-14.text-white-50 / Month
                        ul.list-unstyled.line-height-4.mb-0
                            li Lorem ipsum dolor sit amet
                            li Consectetur adipiscing elit
                            li Integer molestie lorem at massa
                            li Facilisis in pretium nisl aliquet
                            li Nulla volutpat aliquam velit
                        a.btn.btn-light.btn-block.mt-5(href='#') Start Starter
            .col-lg-3.col-md-6.col-sm-12
                .iq-card
                    .iq-card-body.border.text-center.rounded
                        span.font-size-16.text-uppercase Basic
                        h2.mb-4.display-3.font-weight-bolder
                            | $39
                            small.font-size-14.text-muted / Month
                        ul.list-unstyled.line-height-4.mb-0
                            li Lorem ipsum dolor sit amet
                            li Consectetur adipiscing elit
                            li Integer molestie lorem at massa
                            li Facilisis in pretium nisl aliquet
                            li Nulla volutpat aliquam velit
                        a.btn.btn-primary.mt-5(href='#') Start Starter
            .col-lg-3.col-md-6.col-sm-12
                .iq-card
                    .iq-card-body.border.text-center.rounded
                        span.font-size-16.text-uppercase Basic
                        h2.mb-4.display-3.font-weight-bolder
                            | $25
                            small.font-size-14.text-muted / Month
                        ul.list-unstyled.line-height-4.mb-0
                            li Lorem ipsum dolor sit amet
                            li Consectetur adipiscing elit
                            li Integer molestie lorem at massa
                            li Facilisis in pretium nisl aliquet
                            li Nulla volutpat aliquam velit
                        a.btn.btn-primary.mt-5(href='#') Start Starter
            .col-lg-3
                .card.bg-dark.text-white.text-center.iq-mb-3
                    img.card-img.rounded(src='assets/images/page-img/25.jpg' alt='#')
                    .card-img-overlay
                        h2.mb-4.display-3.font-weight-bolder.text-white
                            | 19
                            small.font-size-14.text-white $ / Month
                        ul.list-unstyled.line-height-4.mb-0
                            li Lorem ipsum dolor sit amet
                            li Consectetur adipiscing elit
                            li Integer molestie lorem at massa
                            li Facilisis in pretium nisl aliquet
                            li Nulla volutpat aliquam velit
                        button.btn.btn-primary.mt-5(type='button') Get started
            .col-lg-3
                .card.bg-dark.text-white.text-center.iq-mb-3
                    img.card-img.rounded(src='assets/images/page-img/26.jpg' alt='#')
                    .card-img-overlay
                        h2.mb-4.display-3.font-weight-bolder.text-white
                            | 19
                            small.font-size-14.text-white $ / Month
                        ul.list-unstyled.line-height-4.mb-0
                            li Lorem ipsum dolor sit amet
                            li Consectetur adipiscing elit
                            li Integer molestie lorem at massa
                            li Facilisis in pretium nisl aliquet
                            li Nulla volutpat aliquam velit
                        button.btn.btn-primary.mt-5(type='button') Get started
            .col-lg-3
                .card.bg-dark.text-white.text-center.iq-mb-3
                    img.card-img.rounded(src='assets/images/page-img/27.jpg' alt='#')
                    .card-img-overlay
                        h2.mb-4.display-3.font-weight-bolder.text-white
                            | 19
                            small.font-size-14.text-white $ / Month
                        ul.list-unstyled.line-height-4.mb-0
                            li Lorem ipsum dolor sit amet
                            li Consectetur adipiscing elit
                            li Integer molestie lorem at massa
                            li Facilisis in pretium nisl aliquet
                            li Nulla volutpat aliquam velit
                        button.btn.btn-primary.mt-5(type='button') Get started
            .col-lg-3
                .card.bg-dark.text-white.text-center.iq-mb-3
                    img.card-img.rounded(src='assets/images/page-img/28.jpg' alt='#')
                    .card-img-overlay
                        h2.mb-4.display-3.font-weight-bolder.text-white
                            | 19
                            small.font-size-14.text-white $ / Month
                        ul.list-unstyled.line-height-4.mb-0
                            li Lorem ipsum dolor sit amet
                            li Consectetur adipiscing elit
                            li Integer molestie lorem at massa
                            li Facilisis in pretium nisl aliquet
                            li Nulla volutpat aliquam velit
                        button.btn.btn-primary.mt-5(type='button') Get started



