extends ../Layouts/master

block content
    .container-fluid
        .row.justify-content-center
            .col-lg-6
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Product Orders
                    .iq-card-body
                        ul.iq-timeline
                            li
                                .timeline-dots
                                h6.float-left.mb-1 Client Meeting
                                small.float-right.mt-1 19 November 2019
                                .d-inline-block.w-100
                                    p Bonbon macaroon jelly beans gummi bears jelly lollipop apple
                            li
                                .timeline-dots.border-success
                                h6.float-left.mb-1 Client Meeting
                                small.float-right.mt-1 19 November 2019
                                .d-inline-block.w-100
                                    p Bonbon macaroon jelly beans gummi bears jelly lollipop apple
                            li
                                .timeline-dots.border-danger
                                h6.float-left.mb-1 Client Meeting
                                small.float-right.mt-1 19 November 2019
                                .d-inline-block.w-100
                                    p
                                        | Bonbon macaroon jelly beans
                                        a(href='#') gummi bears
                                        | gummi bears jelly lollipop apple
                            li
                                .timeline-dots.border-primary
                                h6.float-left.mb-1 Client Meeting
                                small.float-right.mt-1 19 November 2019
                                .d-inline-block.w-100
                                    p Bonbon macaroon jelly beans gummi bears jelly lollipop apple
                            li
                                .timeline-dots.border-info
                                h6.float-left.mb-1 Client Meeting
                                small.float-right.mt-1 19 November 2019
                                .d-inline-block.w-100
                                    p Bonbon macaroon jelly beans gummi bears jelly lollipop apple
                            li
                                .timeline-dots.border-info
                                h6.float-left.mb-1 Client Meeting
                                small.float-right.mt-1 19 November 2019
                                .d-inline-block.w-100
                                    p Bonbon macaroon jelly beans gummi bears jelly lollipop apple
                            li
                                .timeline-dots.border-warning
                                h6.float-left.mb-1 Client Meeting
                                small.float-right.mt-1 19 November 2019
                                .d-inline-block.w-100
                                    p Bonbon macaroon jelly beans gummi bears jelly lollipop apple
                            li
                                .timeline-dots.border-info
                                h6.float-left.mb-1 Client Meeting
                                small.float-right.mt-1 19 November 2019
                                .d-inline-block.w-100
                                    p Bonbon macaroon jelly beans gummi bears jelly lollipop apple
            .col-lg-6
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Product Orders
                    .iq-card-body
                        ul.iq-timeline
                            li
                                .timeline-dots
                                h6.float-left.mb-1 Client Meeting
                                small.float-right.mt-1 19 November 2019
                                .d-inline-block.w-100
                                    p Bonbon macaroon jelly beans gummi bears jelly lollipop apple
                            li
                                .timeline-dots.border-success
                                h6.float-left.mb-1 Client Meeting
                                small.float-right.mt-1 19 November 2019
                                .d-inline-block.w-100
                                    p Bonbon macaroon jelly beans gummi bears jelly lollipop apple
                            li
                                .timeline-dots.border-danger
                                h6.float-left.mb-1 Client Meeting
                                small.float-right.mt-1 19 November 2019
                                .d-inline-block.w-100
                                    p
                                        | Bonbon macaroon jelly beans
                                        a(href='#') gummi bears
                                        | gummi bears jelly lollipop apple
                            li
                                .timeline-dots.border-primary
                                h6.float-left.mb-1 Client Meeting
                                small.float-right.mt-1 19 November 2019
                                .d-inline-block.w-100
                                    p Bonbon macaroon jelly beans gummi bears jelly lollipop apple
                            li
                                .timeline-dots.border-info
                                h6.float-left.mb-1 Client Meeting
                                small.float-right.mt-1 19 November 2019
                                .d-inline-block.w-100
                                    p Bonbon macaroon jelly beans gummi bears jelly lollipop apple
                            li
                                .timeline-dots.border-info
                                h6.float-left.mb-1 Client Meeting
                                small.float-right.mt-1 19 November 2019
                                .d-inline-block.w-100
                                    p Bonbon macaroon jelly beans gummi bears jelly lollipop apple
                            li
                                .timeline-dots.border-warning
                                h6.float-left.mb-1 Client Meeting
                                small.float-right.mt-1 19 November 2019
                                .d-inline-block.w-100
                                    p Bonbon macaroon jelly beans gummi bears jelly lollipop apple
                            li
                                .timeline-dots.border-info
                                h6.float-left.mb-1 Client Meeting
                                small.float-right.mt-1 19 November 2019
                                .d-inline-block.w-100
                                    p Bonbon macaroon jelly beans gummi bears jelly lollipop apple

