footer.bg-white.iq-footer
    .container-fluid
        .row
            .col-lg-6
                ul.list-inline.mb-0
                    li.list-inline-item
                        a(href='#') Privacy Policy
                    |
                    li.list-inline-item
                        a(href='#') Terms of Use
            |
            .col-lg-6.text-right
                | Copyright 2020
                a(href='#') Metorik
                |  All Rights Reserved.
