link(rel='stylesheet', href='./assets/css/bootstrap.min.css')
link(rel='stylesheet', href='./assets/css/typography.css')
link(rel='stylesheet', href='./assets/css/style.css')
link(rel='stylesheet', href='./assets/css/responsive.css')

block head
