extends ../Layouts/master

block content
  .container-fluid
    .row
      .col-sm-12.col-lg-6
        .iq-card
          .iq-card-header.d-flex.justify-content-between
            .iq-header-title
              h4.card-title Basic Alerts
          .iq-card-body
            p.mb-4
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              | Lorem Ipsum has been the industry&apos;s standard dummy text ever
            .alert.alert-primary(role='alert')
              .iq-alert-text
                | A simple
                b primary
                |  alert&mdash;check it out!
            .alert.alert-secondary(role='alert')
              .iq-alert-text
                | A simple
                b secondary
                |  alert&mdash;check it out!
            .alert.alert-success(role='alert')
              .iq-alert-text
                | A simple
                b success
                |  alert&mdash;check it out!
            .alert.alert-danger(role='alert')
              .iq-alert-text
                | A simple
                b danger
                |  alert&mdash;check it out!
            .alert.alert-warning(role='alert')
              .iq-alert-text
                | A simple
                b warning
                |  alert&mdash;check it out!
            .alert.alert-info(role='alert')
              .iq-alert-text
                | A simple
                b info
                |  alert&mdash;check it out!
            .alert.alert-light(role='alert')
              .iq-alert-text
                | A simple
                b light
                |  alert&mdash;check it out!
            .alert.alert-dark(role='alert')
              .iq-alert-text
                | A simple
                b light
                |  alert&mdash;check it out!
      .col-sm-12.col-lg-6
        .iq-card
          .iq-card-header.d-flex.justify-content-between
            .iq-header-title
              h4.card-title Basic Alerts With Icons
          .iq-card-body
            p.mb-4
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              | Lorem Ipsum has been the industry&apos;s standard dummy text ever
            .alert.alert-primary(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | A simple
                b primary
                |  alert&mdash;check it out!
            .alert.alert-secondary(role='alert')
              .iq-alert-icon
                i.ri-information-line
              .iq-alert-text
                | A simple
                b secondary
                |  alert&mdash;check it out!
            .alert.alert-success(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | A simple
                b success
                |  alert&mdash;check it out!
            .alert.alert-danger(role='alert')
              .iq-alert-icon
                i.ri-information-line
              .iq-alert-text
                | A simple
                b danger
                |  alert&mdash;check it out!
            .alert.alert-warning(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | A simple
                b warning
                |  alert&mdash;check it out!
            .alert.alert-info(role='alert')
              .iq-alert-icon
                i.ri-information-line
              .iq-alert-text
                | A simple
                b info
                |  alert&mdash;check it out!
            .alert.alert-light(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | A simple
                b light
                |  alert&mdash;check it out!
    .row
      .col-sm-12.col-lg-6
        .iq-card
          .iq-card-header.d-flex.justify-content-between
            .iq-header-title
              h4.card-title Basic Line Alerts
          .iq-card-body
            p.mb-4
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              | Lorem Ipsum has been the industry&apos;s standard dummy text ever
            .alert.bg-white.alert-primary(role='alert')
              .iq-alert-text
                | A simple
                b primary
                |  alert&mdash;check it out!
            .alert.bg-white.alert-secondary(role='alert')
              .iq-alert-text
                | A simple
                b secondary
                |  alert&mdash;check it out!
            .alert.bg-white.alert-success(role='alert')
              .iq-alert-text
                | A simple
                b success
                |  alert&mdash;check it out!
            .alert.bg-white.alert-danger(role='alert')
              .iq-alert-text
                | A simple
                b danger
                |  alert&mdash;check it out!
            .alert.bg-white.alert-warning(role='alert')
              .iq-alert-text
                | A simple
                b warning
                |  alert&mdash;check it out!
            .alert.bg-white.alert-info(role='alert')
              .iq-alert-text
                | A simple
                b info
                |  alert&mdash;check it out!
            .alert.bg-white.alert-light(role='alert')
              .iq-alert-text
                | A simple
                b light
                |  alert&mdash;check it out!
      .col-sm-12.col-lg-6
        .iq-card
          .iq-card-header.d-flex.justify-content-between
            .iq-header-title
              h4.card-title Basic Line Alerts With Icons
          .iq-card-body
            p.mb-4
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              | Lorem Ipsum has been the industry&apos;s standard dummy text ever
            .alert.bg-white.alert-primary(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | A simple
                b primary
                |  alert&mdash;check it out!
            .alert.bg-white.alert-secondary(role='alert')
              .iq-alert-icon
                i.ri-information-line
              .iq-alert-text
                | A simple
                b secondary
                |  alert&mdash;check it out!
            .alert.bg-white.alert-success(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | A simple
                b success
                |  alert&mdash;check it out!
            .alert.bg-white.alert-danger(role='alert')
              .iq-alert-icon
                i.ri-information-line
              .iq-alert-text
                | A simple
                b danger
                |  alert&mdash;check it out!
            .alert.bg-white.alert-warning(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | A simple
                b warning
                |  alert&mdash;check it out!
            .alert.bg-white.alert-info(role='alert')
              .iq-alert-icon
                i.ri-information-line
              .iq-alert-text
                | A simple
                b info
                |  alert&mdash;check it out!
            .alert.bg-white.alert-light(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | A simple
                b light
                |  alert&mdash;check it out!
    .row
      .col-sm-12.col-lg-6
        .iq-card
          .iq-card-header.d-flex.justify-content-between
            .iq-header-title
              h4.card-title Alerts With Background
          .iq-card-body
            p.mb-4
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              | Lorem Ipsum has been the industry&apos;s standard dummy text ever
            .alert.text-white.bg-primary(role='alert')
              .iq-alert-text
                | A simple
                b primary
                |  alert&mdash;check it out!
            .alert.text-white.bg-secondary(role='alert')
              .iq-alert-text
                | A simple
                b secondary
                |  alert&mdash;check it out!
            .alert.text-white.bg-success(role='alert')
              .iq-alert-text
                | A simple
                b success
                |  alert&mdash;check it out!
            .alert.text-white.bg-danger(role='alert')
              .iq-alert-text
                | A simple
                b danger
                |  alert&mdash;check it out!
            .alert.text-white.bg-warning(role='alert')
              .iq-alert-text
                | A simple
                b warning
                |  alert&mdash;check it out!
            .alert.text-white.bg-info(role='alert')
              .iq-alert-text
                | A simple
                b info
                |  alert&mdash;check it out!
            .alert.bg-light(role='alert')
              .iq-alert-text
                | A simple
                b light
                |  alert&mdash;check it out!
      .col-sm-12.col-lg-6
        .iq-card
          .iq-card-header.d-flex.justify-content-between
            .iq-header-title
              h4.card-title Background Alerts With Icons
          .iq-card-body
            p.mb-4
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              | Lorem Ipsum has been the industry&apos;s standard dummy text ever
            .alert.text-white.bg-primary(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | A simple
                b primary
                |  alert&mdash;check it out!
            .alert.text-white.bg-secondary(role='alert')
              .iq-alert-icon
                i.ri-information-line
              .iq-alert-text
                | A simple
                b secondary
                |  alert&mdash;check it out!
            .alert.text-white.bg-success(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | A simple
                b success
                |  alert&mdash;check it out!
            .alert.text-white.bg-danger(role='alert')
              .iq-alert-icon
                i.ri-information-line
              .iq-alert-text
                | A simple
                b danger
                |  alert&mdash;check it out!
            .alert.text-white.bg-warning(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | A simple
                b warning
                |  alert&mdash;check it out!
            .alert.text-white.bg-info(role='alert')
              .iq-alert-icon
                i.ri-information-line
              .iq-alert-text
                | A simple
                b info
                |  alert&mdash;check it out!
            .alert.bg-light(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | A simple
                b light
                |  alert&mdash;check it out!
    .row
      .col-sm-12.col-lg-6
        .iq-card
          .iq-card-header.d-flex.justify-content-between
            .iq-header-title
              h4.card-title Alerts Dismissing
          .iq-card-body
            p.mb-4
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              | Lorem Ipsum has been the industry&apos;s standard dummy text ever
            .alert.text-white.bg-primary(role='alert')
              .iq-alert-text
                | A simple
                b primary
                |  alert&mdash;check it out!
              button.close(type='button' data-dismiss='alert' aria-label='Close')
                i.ri-close-line
            .alert.text-white.bg-secondary(role='alert')
              .iq-alert-text
                | A simple
                b secondary
                |  alert&mdash;check it out!
              button.close(type='button' data-dismiss='alert' aria-label='Close')
                i.ri-close-line
            .alert.text-white.bg-success(role='alert')
              .iq-alert-text
                | A simple
                b success
                |  alert&mdash;check it out!
              button.close(type='button' data-dismiss='alert' aria-label='Close')
                i.ri-close-line
            .alert.text-white.bg-danger(role='alert')
              .iq-alert-text
                | A simple
                b danger
                |  alert&mdash;check it out!
              button.close(type='button' data-dismiss='alert' aria-label='Close')
                i.ri-close-line
            .alert.text-white.bg-warning(role='alert')
              .iq-alert-text
                | A simple
                b warning
                |  alert&mdash;check it out!
              button.close(type='button' data-dismiss='alert' aria-label='Close')
                i.ri-close-line
            .alert.text-white.bg-info(role='alert')
              .iq-alert-text
                | A simple
                b info
                |  alert&mdash;check it out!
              button.close(type='button' data-dismiss='alert' aria-label='Close')
                i.ri-close-line
            .alert.bg-light(role='alert')
              .iq-alert-text
                | A simple
                b light
                |  alert&mdash;check it out!
              button.close.text-muted(type='button' data-dismiss='alert' aria-label='Close')
                i.ri-close-line
      .col-sm-12.col-lg-6
        .iq-card
          .iq-card-header.d-flex.justify-content-between
            .iq-header-title
              h4.card-title Alerts Dismissing With Icons
          .iq-card-body
            p.mb-4
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              | Lorem Ipsum has been the industry&apos;s standard dummy text ever
            .alert.text-white.bg-primary(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | A simple
                b primary
                |  alert&mdash;check it out!
              button.close(type='button' data-dismiss='alert' aria-label='Close')
                i.ri-close-line
            .alert.text-white.bg-secondary(role='alert')
              .iq-alert-icon
                i.ri-information-line
              .iq-alert-text
                | A simple
                b secondary
                |  alert&mdash;check it out!
              button.close(type='button' data-dismiss='alert' aria-label='Close')
                i.ri-close-line
            .alert.text-white.bg-success(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | A simple
                b success
                |  alert&mdash;check it out!
              button.close(type='button' data-dismiss='alert' aria-label='Close')
                i.ri-close-line
            .alert.text-white.bg-danger(role='alert')
              .iq-alert-icon
                i.ri-information-line
              .iq-alert-text
                | A simple
                b danger
                |  alert&mdash;check it out!
              button.close(type='button' data-dismiss='alert' aria-label='Close')
                i.ri-close-line
            .alert.text-white.bg-warning(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | A simple
                b warning
                |  alert&mdash;check it out!
              button.close(type='button' data-dismiss='alert' aria-label='Close')
                i.ri-close-line
            .alert.text-white.bg-info(role='alert')
              .iq-alert-icon
                i.ri-information-line
              .iq-alert-text
                | A simple
                b info
                |  alert&mdash;check it out!
              button.close(type='button' data-dismiss='alert' aria-label='Close')
                i.ri-close-line
            .alert.bg-light(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | A simple
                b light
                |  alert&mdash;check it out!
              button.close.text-muted(type='button' data-dismiss='alert' aria-label='Close')
                i.ri-close-line
    .row
      .col-sm-12.col-lg-6
        .iq-card
          .iq-card-header.d-flex.justify-content-between
            .iq-header-title
              h4.card-title Alerts With Background
          .iq-card-body
            p.mb-4
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              | Lorem Ipsum has been the industry&apos;s standard dummy text ever
            .alert.alert-primary(role='alert')
              .iq-alert-text
                | A simple primary alert with
                a.alert-link(href='#')
                  | an
                  | example link
                | . Give it a click if you like.
            .alert.alert-secondary(role='alert')
              .iq-alert-text
                | A simple secondary alert with
                a.alert-link(href='#')
                  | an
                  | example link
                | . Give it a click if you like.
            .alert.alert-success(role='alert')
              .iq-alert-text
                | A simple success alert with
                a.alert-link(href='#')
                  | an
                  | example link
                | . Give it a click if you like.
            .alert.alert-danger(role='alert')
              .iq-alert-text
                | A simple danger alert with
                a.alert-link(href='#')
                  | an
                  | example link
                | . Give it a click if you like.
            .alert.alert-warning(role='alert')
              .iq-alert-text
                | A simple warning alert with
                a.alert-link(href='#')
                  | an
                  | example link
                | . Give it a click if you like.
            .alert.alert-info(role='alert')
              .iq-alert-text
                | A simple info alert with
                a.alert-link(href='#')
                  | an
                  | example link
                | . Give it a click if you like.
            .alert.alert-light(role='alert')
              .iq-alert-text
                | A simple light alert with
                a.alert-link(href='#')
                  | an
                  | example link
                | . Give it a click if you like.
      .col-sm-12.col-lg-6
        .iq-card
          .iq-card-header.d-flex.justify-content-between
            .iq-header-title
              h4.card-title Background Alerts With Icons
          .iq-card-body
            p.mb-4
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              | Lorem Ipsum has been the industry&apos;s standard dummy text ever
            .alert.text-white.bg-primary(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | simple primary alert with
                a.alert-link.text-white(href='#')
                  | an
                  | example link
                | . Give it a click if you like.
            .alert.text-white.bg-secondary(role='alert')
              .iq-alert-icon
                i.ri-information-line
              .iq-alert-text
                | simple primary alert with
                a.alert-link.text-white(href='#')
                  | an
                  | example link
                | . Give it a click if you like.
            .alert.text-white.bg-success(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | simple primary alert with
                a.alert-link.text-white(href='#')
                  | an
                  | example link
                | . Give it a click if you like.
            .alert.text-white.bg-danger(role='alert')
              .iq-alert-icon
                i.ri-information-line
              .iq-alert-text
                | simple primary alert with
                a.alert-link.text-white(href='#')
                  | an
                  | example link
                | . Give it a click if you like.
            .alert.text-white.bg-warning(role='alert')
              .iq-alert-icon
                i.ri-alert-line
              .iq-alert-text
                | simple primary alert with
                a.alert-link.text-white(href='#')
                  | an
                  | example link
                | . Give it a click if you like.
            .alert.text-white.bg-info(role='alert')
              .iq-alert-icon
                i.ri-information-line
              .iq-alert-text
                | simple primary alert with
                a.alert-link.text-white(href='#')
                  | an
                  | example link
                | . Give it a click if you like.
      .col-sm-12
        .iq-card
          .iq-card-header.d-flex.justify-content-between
            .iq-header-title
              h4.card-title Additional content
          .iq-card-body
            p.mb-4
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              | Lorem Ipsum has been the industry&apos;s standard dummy text ever
            .row
              .col-sm-12.col-lg-6
                .alert.alert-primary(role='alert')
                  .iq-alert-text
                    h5.alert-heading Well done!
                    p
                      | Aww yeah, you successfully read this important alert message. This
                      | example text is going to run a bit longer so that you can see how
                      | spacing within an alert works with this kind of content.
                    hr
                    p.mb-0
                      | Whenever you need to, be sure to use margin utilities to
                      | keep things nice and tidy.
              .col-sm-12.col-lg-6
                .alert.alert-success(role='alert')
                  .iq-alert-text
                    h5.alert-heading Well done!
                    p
                      | Aww yeah, you successfully read this important alert message. This
                      | example text is going to run a bit longer so that you can see how
                      | spacing within an alert works with this kind of content.
                    hr
                    p.mb-0
                      | Whenever you need to, be sure to use margin utilities to
                      | keep things nice and tidy.
