extends ../Layouts/master

block content
    .container-fluid
     .row
        .col-sm-12.col-lg-6
            .iq-card
                .iq-card-header.d-flex.justify-content-between
                    .iq-header-title
                        h4.card-title Default Buttons
                .iq-card-body
                    p.mb-4
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever
                    button.btn.btn-primary.mb-3(type='button') Primary
                    button.btn.btn-secondary.mb-3(type='button') Secondary
                    button.btn.btn-success.mb-3(type='button') Success
                    button.btn.btn-danger.mb-3(type='button') Danger
                    button.btn.btn-warning.mb-3(type='button') Warning
                    button.btn.btn-info.mb-3(type='button') Info
                    button.btn.btn-light.mb-3(type='button') Light
                    button.btn.btn-dark.mb-3(type='button') Dark
                    button.btn.btn-link.mb-3(type='button') Link
        .col-sm-12.col-lg-6
            .iq-card
                .iq-card-header.d-flex.justify-content-between
                    .iq-header-title
                        h4.card-title Default Buttons Rounded Shape
                .iq-card-body
                    p.mb-4
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever
                    button.btn.btn-primary.rounded-pill.mb-3(type='button') Primary
                    button.btn.btn-secondary.rounded-pill.mb-3(type='button') Secondary
                    button.btn.btn-success.rounded-pill.mb-3(type='button') Success
                    button.btn.btn-danger.rounded-pill.mb-3(type='button') Danger
                    button.btn.btn-warning.rounded-pill.mb-3(type='button') Warning
                    button.btn.btn-info.rounded-pill.mb-3(type='button') Info
                    button.btn.btn-light.rounded-pill.mb-3(type='button') Light
                    button.btn.btn-dark.rounded-pill.mb-3(type='button') Dark
                    button.btn.btn-link.rounded-pill.mb-3(type='button') Link
    .row
        .col-sm-12.col-lg-6
            .iq-card
                .iq-card-header.d-flex.justify-content-between
                    .iq-header-title
                        h4.card-title Outline Buttons
                .iq-card-body
                    p.mb-4
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever
                    button.btn.btn-outline-primary.mb-3(type='button') Primary
                    button.btn.btn-outline-secondary.mb-3(type='button') Secondary
                    button.btn.btn-outline-success.mb-3(type='button') Success
                    button.btn.btn-outline-danger.mb-3(type='button') Danger
                    button.btn.btn-outline-warning.mb-3(type='button') Warning
                    button.btn.btn-outline-info.mb-3(type='button') Info
                    button.btn.btn-outline-dark.mb-3(type='button') Dark
                    button.btn.btn-outline-link(type='button') Link
        .col-sm-12.col-lg-6
            .iq-card
                .iq-card-header.d-flex.justify-content-between
                    .iq-header-title
                        h4.card-title Rounded Outline Buttons
                .iq-card-body
                    p.mb-4
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever
                    button.btn.btn-outline-primary.rounded-pill.mb-3(type='button') Primary
                    button.btn.btn-outline-secondary.rounded-pill.mb-3(type='button') Secondary
                    button.btn.btn-outline-success.rounded-pill.mb-3(type='button') Success
                    button.btn.btn-outline-danger.rounded-pill.mb-3(type='button') Danger
                    button.btn.btn-outline-warning.rounded-pill.mb-3(type='button') Warning
                    button.btn.btn-outline-info.rounded-pill.mb-3(type='button') Info
                    button.btn.btn-outline-dark.rounded-pill.mb-3(type='button') Dark
                    button.btn.btn-outline-link.rounded-pill.mb-3(type='button') Link
    .row
        .col-sm-12.col-lg-6
            .iq-card
                .iq-card-header.d-flex.justify-content-between
                    .iq-header-title
                        h4.card-title Default Buttons
                .iq-card-body
                    p.mb-4
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever
                    button.btn.mb-3.btn-primary(type='button')
                        i.ri-bill-fill
                        | Primary
                    button.btn.mb-3.btn-secondary(type='button')
                        i.ri-heart-fill
                        | Secondary
                    button.btn.mb-3.btn-success(type='button')
                        i.ri-bill-fill
                        | Success
                    button.btn.mb-3.btn-danger(type='button')
                        i.ri-heart-fill
                        | Danger
                    button.btn.mb-3.btn-warning(type='button')
                        i.ri-bill-fill
                        | Warning
                    button.btn.mb-3.btn-info(type='button')
                        i.ri-heart-fill
                        | Info
                    button.btn.mb-3.btn-light(type='button')
                        i.ri-bill-fill
                        | Light
                    button.btn.mb-3.btn-dark(type='button')
                        i.ri-heart-fill
                        | Dark
                    button.btn.mb-3.btn-link(type='button')
                        i.ri-bill-fill
                        | Link
        .col-sm-12.col-lg-6
            .iq-card
                .iq-card-header.d-flex.justify-content-between
                    .iq-header-title
                        h4.card-title Default Buttons Rounded Shape
                .iq-card-body
                    p.mb-4
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever
                    button.btn.mb-3.btn-primary.rounded-pill(type='button')
                        i.ri-bill-fill
                        | Primary
                    button.btn.mb-3.btn-secondary.rounded-pill(type='button')
                        i.ri-heart-fill
                        | Secondary
                    button.btn.mb-3.btn-success.rounded-pill(type='button')
                        i.ri-bill-fill
                        | Success
                    button.btn.mb-3.btn-danger.rounded-pill(type='button')
                        i.ri-heart-fill
                        | Danger
                    button.btn.mb-3.btn-warning.rounded-pill(type='button')
                        i.ri-bill-fill
                        | Warning
                    button.btn.mb-3.btn-info.rounded-pill(type='button')
                        i.ri-heart-fill
                        | Info
                    button.btn.mb-3.btn-light.rounded-pill(type='button')
                        i.ri-bill-fill
                        | Light
                    button.btn.mb-3.btn-dark.rounded-pill(type='button')
                        i.ri-heart-fill
                        | Dark
                    button.btn.mb-3.btn-link.rounded-pill(type='button')
                        i.ri-bill-fill
                        | Link
    .row
        .col-sm-12.col-lg-6
            .iq-card
                .iq-card-header.d-flex.justify-content-between
                    .iq-header-title
                        h4.card-title Outline Buttons
                .iq-card-body
                    p.mb-4
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever
                    button.btn.btn-outline-primary.mb-3(type='button')
                        i.ri-heart-line
                        | Primary
                    button.btn.btn-outline-secondary.mb-3(type='button')
                        i.ri-alert-line
                        | Secondary
                    button.btn.btn-outline-success.mb-3(type='button')
                        i.ri-heart-line
                        | Success
                    button.btn.btn-outline-danger.mb-3(type='button')
                        i.ri-alert-line
                        | Danger
                    button.btn.btn-outline-warning.mb-3(type='button')
                        i.ri-heart-line
                        | Warning
                    button.btn.btn-outline-info.mb-3(type='button')
                        i.ri-alert-line
                        | Info
                    button.btn.btn-outline-dark.mb-3(type='button')
                        i.ri-alert-line
                        | Dark
                    button.btn.btn-outline-link.mb-3(type='button')
                        i.ri-heart-line
                        | Link
        .col-sm-12.col-lg-6
            .iq-card
                .iq-card-header.d-flex.justify-content-between
                    .iq-header-title
                        h4.card-title Rounded Outline Buttons
                .iq-card-body
                    p.mb-4
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever
                    button.btn.btn-outline-primary.rounded-pill.mb-3(type='button')
                        i.ri-heart-line
                        | Primary
                    button.btn.btn-outline-secondary.rounded-pill.mb-3(type='button')
                        i.ri-alert-line
                        | Secondary
                    button.btn.btn-outline-success.rounded-pill.mb-3(type='button')
                        i.ri-heart-line
                        | Success
                    button.btn.btn-outline-danger.rounded-pill.mb-3(type='button')
                        i.ri-alert-line
                        | Danger
                    button.btn.btn-outline-warning.rounded-pill.mb-3(type='button')
                        i.ri-heart-line
                        | Warning
                    button.btn.btn-outline-info.rounded-pill.mb-3(type='button')
                        i.ri-alert-line
                        | Info
                    button.btn.btn-outline-dark.rounded-pill.mb-3(type='button')
                        i.ri-alert-line
                        | Dark
                    button.btn.btn-outline-link.rounded-pill.mb-3(type='button')
                        i.ri-heart-line
                        | Link
    .row
        .col-sm-12.col-lg-6
            .iq-card
                .iq-card-header.d-flex.justify-content-between
                    .iq-header-title
                        h4.card-title Button Tags
                .iq-card-body
                    p.mb-4
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever
                    a.btn.btn-primary(href='#' role='button') Link
                    button.btn.btn-success(type='submit') Button
                    input.btn.btn-danger(type='button' value='Input')
                    input.btn.btn-warning(type='submit' value='Submit')
                    input.btn.btn-info(type='reset' value='Reset')
        .col-sm-12.col-lg-6
            .iq-card
                .iq-card-header.d-flex.justify-content-between
                    .iq-header-title
                        h4.card-title Buttons Sizes
                .iq-card-body
                    p.mb-4
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever
                    button.btn.btn-primary.btn-sm.mr-2(type='button') Small Button
                    button.btn.btn-success.mr-2(type='button') Button
                    button.btn.btn-info.btn-lg(type='button') Large Button
    .row
        .col-sm-12.col-lg-6
            .iq-card
                .iq-card-header.d-flex.justify-content-between
                    .iq-header-title
                        h4.card-title Block Buttons
                .iq-card-body
                    p.mb-4
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever
                    button.btn.btn-primary.btn-block(type='button') Block level button
                    button.btn.btn-success.btn-block(type='button') Block level button
        .col-sm-12.col-lg-6
            .iq-card
                .iq-card-header.d-flex.justify-content-between
                    .iq-header-title
                        h4.card-title Icons Buttons
                .iq-card-body
                    p.mb-4
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever
                    button.btn.btn-primary.mb-3(type='button')
                        i.ri-heart-fill.pr-0
                    button.btn.btn-secondary.mb-3(type='button')
                        i.ri-star-fill.pr-0
                    button.btn.btn-success.mb-3(type='button')
                        i.ri-settings-4-fill.pr-0
                    button.btn.btn-danger.mb-3(type='button')
                        i.ri-radio-button-fill.pr-0
                    button.btn.btn-warning.mb-3(type='button')
                        i.ri-delete-bin-2-fill.pr-0
                    button.btn.btn-info.mb-3(type='button')
                        i.ri-lock-fill.pr-0
                    button.btn.btn-light.mb-3(type='button')
                        i.ri-time-fill.pr-0
                    button.btn.btn-dark.mb-3(type='button')
                        i.ri-sun-fill.pr-0
                    button.btn.btn-link.mb-3(type='button')
                        i.ri-moon-fill.pr-0
                    .d-inline-block.w-100.mt-3
                        button.btn.btn-primary.mb-3(type='button')
                            i.ri-heart-fill
                            | Buttons
                        button.btn.btn-secondary.mb-3(type='button')
                            i.ri-star-fill
                            | Buttons
                        button.btn.btn-success.mb-3(type='button')
                            i.ri-settings-4-fill
                            | Buttons
                        button.btn.btn-danger.mb-3(type='button')
                            i.ri-radio-button-fill
                            | Buttons
                        button.btn.btn-info.mb-3(type='button')
                            i.ri-lock-fill
                            | Buttons
    .row
        .col-sm-12.col-lg-6
            .iq-card
                .iq-card-header.d-flex.justify-content-between
                    .iq-header-title
                        h4.card-title Social Disabled State
                .iq-card-body
                    p.mb-4
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever
                    button.btn.btn-primary(type='button' disabled='') Primary button
                    button.btn.btn-success(type='button' disabled='') Button
                    button.btn.btn-outline-primary(type='button' disabled='') Button
        .col-sm-12.col-lg-6
            .iq-card
                .iq-card-header.d-flex.justify-content-between
                    .iq-header-title
                        h4.card-title Buttons Toggle States
                .iq-card-body
                    p.mb-4
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever
                    button.btn.btn-primary(type='button' data-toggle='button' aria-pressed='false')
                        | Single toggle
    .row
        .col-sm-12.col-lg-6
            .iq-card
                .iq-card-header.d-flex.justify-content-between
                    .iq-header-title
                        h4.card-title Default Buttons Active
                .iq-card-body
                    p.mb-4
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever
                    button.btn.btn-primary.active.mb-3(type='button') Active
                    button.btn.btn-secondary.active.mb-3(type='button') Active
                    button.btn.btn-warning.active.mb-3(type='button') Active
                    button.btn.btn-accent.disabled.mb-3(type='button' disabled='') Disabled
                    button.btn.btn-primary.disabled.mb-3(type='button' disabled='') Disabled
                    button.btn.btn-outline-primary.disabled.mb-3(type='button' disabled='') Disabled
            .iq-card
                .iq-card-header.d-flex.justify-content-between
                    .iq-header-title
                        h4.card-title Button Group Sizing
                .iq-card-body
                    p.mb-4
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever
                    .d-block
                        .btn-group.btn-group-lg(role='group' aria-label='Basic example')
                            button.btn.btn-primary(type='button') Left
                            button.btn.btn-primary(type='button') Middle
                            button.btn.btn-primary(type='button') Right
                    .d-block
                        .btn-group.mt-3(role='group' aria-label='Basic example')
                            button.btn.btn-primary(type='button') Left
                            button.btn.btn-primary(type='button') Middle
                            button.btn.btn-primary(type='button') Right
                    .d-block
                        .btn-group.btn-group-sm.mt-3(role='group' aria-label='Basic example')
                            button.btn.btn-primary(type='button') Left
                            button.btn.btn-primary(type='button') Middle
                            button.btn.btn-primary(type='button') Right
        .col-sm-12.col-lg-6
            .iq-card
                .iq-card-header.d-flex.justify-content-between
                    .iq-header-title
                        h4.card-title Button Group
                .iq-card-body
                    p.mb-4
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever
                    .btn-group(role='group' aria-label='Basic example')
                        button.btn.btn-primary(type='button') Left
                        button.btn.btn-primary(type='button') Middle
                        button.btn.btn-primary(type='button') Right
                    .btn-toolbar.mt-3(role='toolbar' aria-label='Toolbar with button groups')
                        .btn-group.mr-2(role='group' aria-label='First group')
                            button.btn.btn-secondary(type='button') 1
                            button.btn.btn-secondary(type='button') 2
                            button.btn.btn-secondary(type='button') 3
                            button.btn.btn-secondary(type='button') 4
                        .btn-group.mr-2(role='group' aria-label='Second group')
                            button.btn.btn-secondary(type='button') 5
                            button.btn.btn-secondary(type='button') 6
                            button.btn.btn-secondary(type='button') 7
                        .btn-group(role='group' aria-label='Third group')
                            button.btn.btn-secondary(type='button') 8
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Button Dropdown
                    .iq-card-body
                        p.mb-4
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever
                        .btn-group(role='group' aria-label='Button group with nested dropdown')
                            button.btn.btn-primary(type='button') 1
                            button.btn.btn-primary(type='button') 2
                            .btn-group(role='group')
                                button#btnGroupDrop1.btn.btn-primary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    | Dropdown
                                .dropdown-menu(aria-labelledby='btnGroupDrop1')
                                    a.dropdown-item(href='#') Dropdown link
                                    a.dropdown-item(href='#') Dropdown link
                        .d-block.mt-3
                            .btn-group-vertical(role='group' aria-label='Button group with nested dropdown')
                                button.btn.btn-primary(type='button') 1
                                button.btn.btn-primary(type='button') 2
                                .btn-group(role='group')
                                    button#btnGroupDrop2.btn.btn-primary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                        | Dropdown
                                    .dropdown-menu(aria-labelledby='btnGroupDrop2')
                                        a.dropdown-item(href='#') Dropdown link
                                        a.dropdown-item(href='#') Dropdown link
