extends ../Layouts/master

block content
    .container-fluid
        .row
            .col-sm-3
                .card.iq-mb-3
                    img.card-img-top(src='assets/images/page-img/07.jpg' alt='#')
                    .card-body
                        h4.card-title Card title
                        p.card-text
                            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        a.btn.btn-primary(href='#') Button
            .col-sm-3
                .card.iq-mb-3
                    img.card-img-top(src='assets/images/page-img/07.jpg' alt='#')
                    .card-body
                        h4.card-title Card title
                        p.card-text
                            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        p
                            | It is a long established fact that a the readable content of a page when looking at its layout.
                        a.card-link(href='#') Card link
                        a.card-link(href='#') Another link
            .col-sm-3
                .card.iq-mb-3
                    img.card-img-top(src='assets/images/page-img/07.jpg' alt='#')
                    .card-body
                        h4.card-title Card title
                        p.card-text
                            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        ul.list-group.list-group-flush
                            li.list-group-item Cras justo odio
                            li.list-group-item Vestibulum at eros
            .col-sm-3
                .card.iq-mb-3
                    img.card-img-top(src='assets/images/page-img/07.jpg' alt='#')
                    .card-body
                        h4.card-title Card title
                        p.card-text
                            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                    ul.list-group.list-group-flush
                        li.list-group-item Cras justo odio
                    .card-body
                        a.card-link(href='#') Card link
                        a.card-link(href='#') Another link
        .row
            .col-sm-6
                .card.iq-mb-3
                    .card-body
                        h4.card-title Special title treatment
                        p.card-text
                            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        a.btn.btn-primary.btn-block(href='#') Go somewhere
            .col-sm-6
                .card.iq-mb-3
                    .card-body
                        h4.card-title Special title treatment
                        p.card-text
                            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        a.btn.btn-primary.btn-block(href='#') Go somewhere
        .row
            .col-lg-4
                .card.iq-mb-3
                    .card-header
                        | Featured
                    .card-body
                        h4.card-title Special title treatment
                        p.card-text With supporting text below as a natural lead-in to additional content.
                        a.btn.btn-primary(href='#') Go somewhere
            .col-lg-4
                .card.iq-mb-3
                    .card-header
                        | Quote
                    .card-body
                        blockquote.blockquote
                            p.mb-0
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            footer.blockquote-footer
                                | Someone famous in
                                cite(title='Source Title') Source Title
            .col-lg-4
                .card.iq-mb-3
                    .card-header
                        | Featured
                    .card-body
                        a.btn.btn-primary(href='#') Go somewhere
                    .card-footer.text-muted
                        | 2 days ago
        .row
            .col-lg-4
                .card.iq-mb-3
                    .card-body
                        h4.card-title Special title treatment
                        p.card-text With supporting text below as a natural lead-in to additional content.
                        a.btn.btn-primary.btn-block(href='#') Go somewhere
            .col-lg-4.text-center
                .card.iq-mb-3
                    .card-body
                        h4.card-title Special title treatment
                        p.card-text With supporting text below as a natural lead-in to additional content.
                        a.btn.btn-primary.btn-block(href='#') Go somewhere
            .col-lg-4.text-right
                .card.iq-mb-3
                    .card-body
                        h4.card-title Special title treatment
                        p.card-text With supporting text below as a natural lead-in to additional content.
                        a.btn.btn-primary.btn-block(href='#') Go somewhere
        .row
            .col-sm-4
                .card.iq-mb-3
                    img.card-img-top(src='assets/images/page-img/07.jpg' alt='#')
                    .card-body
                        h4.card-title Card title
                        p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        p.card-text
                            small.text-muted Last updated 3 mins ago
            .col-sm-4
                .card.iq-mb-3
                    .card-body
                        h4.card-title Card title
                        p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        p.card-text
                            small.text-muted Last updated 3 mins ago
                    img.card-img-top(src='assets/images/page-img/07.jpg' alt='#')
            .col-sm-4
                .card.bg-dark.text-white.iq-mb-3
                    img.card-img(src='assets/images/page-img/07.jpg' alt='#')
                    .card-img-overlay
                        h4.card-title.text-white Card title
                        p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        p.card-text Last updated 3 mins ago
        .row
            .col-sm-12
                h3.mt-4.mb-3 Horizontal Card
            .col-lg-6
                .card.iq-mb-3
                    .row.no-gutters
                        .col-md-4
                            img.card-img(src='assets/images/page-img/08.jpg' alt='#')
                        .col-md-8
                            .card-body
                                h4.card-title Card title
                                p.card-text
                                    | This is a wider card with supporting text below as a natural lead-in. a little bit longer.
                                p.card-text
                                    small.text-muted Last updated 3 mins ago
            .col-lg-6
                .card.iq-mb-3
                    .row.no-gutters.flex-row-reverse
                        .col-md-4
                            img.card-img(src='assets/images/page-img/09.jpg' alt='#')
                        .col-md-8
                            .card-body.text-right
                                h4.card-title Card title
                                p.card-text
                                    | This is a wider card with supporting text below as a natural lead-in. a little bit longer.
                                p.card-text
                                    small.text-muted Last updated 3 mins ago
        .row
            .col-sm-12
                h3.mt-4.mb-3 Card Colored Styles
            .col-lg-4
                .card.text-white.bg-primary.iq-mb-3
                    .card-body
                        h4.card-title.text-white Primary card title
                        blockquote.blockquote.mb-0
                            p.font-size-14
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            footer.blockquote-footer.text-white.font-size-12
                                | Someone famous in
                                cite.text-white(title='Source Title') Source Title
            .col-lg-4
                .card.iq-mb-3.text-white.bg-secondary
                    .card-body
                        h4.card-title.text-white Secondary card title
                        blockquote.blockquote.mb-0
                            p.font-size-14
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            footer.blockquote-footer.text-white.font-size-12
                                | Someone famous in
                                cite.text-white(title='Source Title') Source Title
            .col-lg-4
                .card.iq-mb-3.text-white.bg-success
                    .card-body
                        h4.card-title.text-white Success card title
                        blockquote.blockquote.mb-0
                            p.font-size-14
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            footer.blockquote-footer.text-white.font-size-12
                                | Someone famous in
                                cite.text-white(title='Source Title') Source Title
            .col-lg-4
                .card.iq-mb-3.text-white.bg-danger
                    .card-body
                        h4.card-title.text-white Danger card title
                        blockquote.blockquote.mb-0
                            p.font-size-14
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            footer.blockquote-footer.text-white.font-size-12
                                | Someone famous in
                                cite.text-white(title='Source Title') Source Title
            .col-lg-4
                .card.iq-mb-3.text-white.bg-warning
                    .card-body
                        h4.card-title.text-white Warning card title
                        blockquote.blockquote.mb-0
                            p.font-size-14
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            footer.blockquote-footer.text-white.font-size-12
                                | Someone famous in
                                cite.text-white(title='Source Title') Source Title
            .col-lg-4
                .card.iq-mb-3.text-white.bg-info
                    .card-body
                        h4.card-title.text-white Info card title
                        blockquote.blockquote.mb-0
                            p.font-size-14
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            footer.blockquote-footer.text-white.font-size-12
                                | Someone famous in
                                cite.text-white(title='Source Title') Source Title
        .row
            .col-sm-12
                h3.mt-4.mb-3 Border Card
            .col-lg-4
                .card.iq-mb-3.border-primary
                    .card-body.text-primary
                        h4.card-title.text-primary Primary card title
                        p.card-text
                            | Some quick example text to build on the card title  text to build on the card title and make up the bulk of the card&apos;s content.
            .col-lg-4
                .card.iq-mb-3.border-secondary
                    .card-body.text-secondary
                        h4.card-title.text-secondary Primary card title
                        p.card-text
                            | Some quick example text to build on the card title  text to build on the card title and make up the bulk of the card&apos;s content.
            .col-lg-4
                .card.iq-mb-3.border-success
                    .card-body.text-success
                        h4.card-title.text-success Primary card title
                        p.card-text
                            | Some quick example text to build on the card title  text to build on the card title and make up the bulk of the card&apos;s content.
            .col-lg-4
                .card.iq-mb-3.border-danger
                    .card-body.text-danger
                        h4.card-title.text-danger Primary card title
                        p.card-text
                            | Some quick example text to build on the card title  text to build on the card title and make up the bulk of the card&apos;s content.
            .col-lg-4
                .card.iq-mb-3.border-warning
                    .card-body.text-warning
                        h4.card-title.text-warning Primary card title
                        p.card-text
                            | Some quick example text to build on the card title  text to build on the card title and make up the bulk of the card&apos;s content.
            .col-lg-4
                .card.iq-mb-3.border-info
                    .card-body.text-info
                        h4.card-title.text-info Primary card title
                        p.card-text
                            | Some quick example text to build on the card title  text to build on the card title and make up the bulk of the card&apos;s content.
        .row
            .col-sm-12
                h3.mt-4.mb-3 Card groups
            .col-sm-12
                .card-group.iq-mb-3
                    .card
                        img.card-img-top(src='assets/images/page-img/07.jpg' alt='#')
                        .card-body
                            h4.card-title Card title
                            p.card-text
                                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            p.card-text
                                small.text-muted Last updated 3 mins ago
                    .card
                        img.card-img-top(src='assets/images/page-img/07.jpg' alt='#')
                        .card-body
                            h4.card-title Card title
                            p.card-text This card has supporting text below as a natural lead-in to additional content.
                            p.card-text
                                small.text-muted Last updated 3 mins ago
                    .card
                        img.card-img-top(src='assets/images/page-img/07.jpg' alt='#')
                        .card-body
                            h4.card-title Card title
                            p.card-text
                                | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                            p.card-text
                                small.text-muted Last updated 3 mins ago
            .col-sm-12
                .card-group.iq-mb-3
                    .card
                        img.card-img-top(src='assets/images/page-img/07.jpg' alt='#')
                        .card-body
                            h4.card-title Card title
                            p.card-text
                                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        .card-footer
                            small.text-muted Last updated 3 mins ago
                    .card
                        img.card-img-top(src='assets/images/page-img/07.jpg' alt='#')
                        .card-body
                            h4.card-title Card title
                            p.card-text This card has supporting text below as a natural lead-in to additional content.
                        .card-footer
                            small.text-muted Last updated 3 mins ago
                    .card
                        img.card-img-top(src='assets/images/page-img/07.jpg' alt='#')
                        .card-body
                            h4.card-title Card title
                            p.card-text
                                | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                        .card-footer
                            small.text-muted Last updated 3 mins ago
            .col-sm-12
                h3.mb-3 Card Masonry Columns
                .card-columns
                    .card.iq-mb-3
                        img.card-img-top(src='assets/images/page-img/07.jpg' alt='#')
                        .card-body
                            h4.card-title Card title that wraps to a new line
                            p.card-text
                                | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    .card.iq-mb-3
                        blockquote.blockquote.mb-0.card-body
                            p.font-size-14
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            footer.blockquote-footer
                                small.text-muted
                                    | Someone famous in
                                    cite(title='Source Title') Source Title
                    .card.iq-mb-3
                        img.card-img-top(src='assets/images/page-img/07.jpg' alt='#')
                        .card-body
                            h4.card-title Card title
                            p.card-text This card has supporting text below as a natural lead-in to additional content.
                            p.card-text
                                small.text-muted Last updated 3 mins ago
                    .card.bg-primary.text-white.text-center.iq-mb-3
                        blockquote.blockquote.mb-0.card-body
                            p.font-size-14
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            footer.blockquote-footer
                                small.text-white
                                    | Someone famous in
                                    cite(title='Source Title') Source Title
                    .card.text-center.iq-mb-3
                        .card-body
                            h4.card-title Card title
                            p.card-text This card has a regular title and short paragraphy of text below it.
                            p.card-text
                                small.text-muted Last updated 3 mins ago
                    .card.iq-mb-3
                        img.card-img-top(src='assets/images/page-img/07.jpg' alt='#')
                    .card.text-right.iq-mb-3
                        blockquote.blockquote.card-body.mb-0
                            p.font-size-14
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            footer.blockquote-footer
                                small.text-muted
                                    | Someone famous in
                                    cite(title='Source Title') Source Title
                    .card.iq-mb-3
                        .card-body
                            h4.card-title Card title
                            p.card-text
                                | This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.
                            p.card-text
                                small.text-muted Last updated 3 mins ago
