extends ../Layouts/master

block content
    .container-fluid
        .row
            .col-lg-12
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Metorik Color
                    .iq-card-body
                        p
                            | Similar to the contextual text color classes, easily set the background of an element to any contextual class. Anchor components will darken on hover, just like the text classes. Background utilities
                            strong
                                | do not set
                                code color
                            | , so in some cases you&rsquo;ll want to use
                            code .text-*
                            |  utilities.
                        .row.mt-4
                            .col-lg-2.col-md-6.text-center
                                p.bg-primary.pt-5.pb-5.text-center.rounded
                                h6 Primary
                            .col-lg-2.col-md-6.text-center
                                p.bg-secondary.pt-5.pb-5.text-center.rounded
                                h6 Secondary
                            .col-lg-2.col-md-6.text-center
                                p.bg-success.pt-5.pb-5.text-center.rounded
                                h6 Success
                            .col-lg-2.col-md-6.text-center
                                p.bg-danger.pt-5.pb-5.text-center.rounded
                                h6 Danger
                            .col-lg-2.col-md-6.text-center
                                p.bg-warning.pt-5.pb-5.text-center.rounded
                                h6 Warning
                            .col-lg-2.col-md-6.text-center
                                p.bg-info.pt-5.pb-5.text-center.rounded
                                h6 Info
                            .col-lg-2.col-md-6.text-center.mt-4
                                p.bg-light.pt-5.pb-5.text-center.rounded
                                h6 Light
                            .col-lg-2.col-md-6.text-center.mt-4
                                p.bg-dark.pt-5.pb-5.text-center.rounded
                                h6 Dark
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Metorik Color
                    .iq-card-body
                        p
                            | Similar to the contextual text color classes, easily set the background of an element to any contextual class. Anchor components will darken on hover, just like the text classes. Background utilities
                            strong
                                | do not set
                                code color
                            | , so in some cases you&rsquo;ll want to use
                            code .text-*
                            |  utilities.
                        .row.mt-4
                            .col-lg-2.col-md-6.text-center
                                p.iq-bg-primary.pt-5.pb-5.text-center.rounded.font-size-18 Primary
                            .col-lg-2.col-md-6.text-center
                                p.iq-bg-secondary.pt-5.pb-5.text-center.rounded.font-size-18 Secondary
                            .col-lg-2.col-md-6.text-center
                                p.iq-bg-success.pt-5.pb-5.text-center.rounded.font-size-18 Success
                            .col-lg-2.col-md-6.text-center
                                p.iq-bg-danger.pt-5.pb-5.text-center.rounded.font-size-18 Danger
                            .col-lg-2.col-md-6.text-center
                                p.iq-bg-warning.pt-5.pb-5.text-center.rounded.font-size-18 Warning
                            .col-lg-2.col-md-6.text-center
                                p.iq-bg-info.pt-5.pb-5.text-center.rounded.font-size-18 Info
                            .col-lg-2.col-md-6.text-center.mt-4
                                p.iq-bg-dark.pt-5.pb-5.text-center.rounded.font-size-18 Dark
            .col-lg-6
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Metorik Text Color
                    .iq-card-body
                        p
                            | Contextual text classes also work well on anchors with the provided hover and focus states.
                            strong
                                | Note that the
                                code .text-white
                                |  and
                                code .text-muted
                                |  class has no additional link styling beyond underline.
                        p.text-primary .text-primary
                        p.text-secondary .text-secondary
                        p.text-success .text-success
                        p.text-danger .text-danger
                        p.text-warning .text-warning
                        p.text-info .text-info
                        p.text-light.bg-dark .text-light
                        p.text-dark .text-dark
                        p.text-muted .text-muted
                        p.text-white.bg-dark .text-white
                        p.text-black-50 .text-black-50
                        p.text-white-50.bg-dark.mb-0 .text-white-50
            .col-lg-6
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Metorik Text Color
                    .iq-card-body
                        p
                            | Contextual text classes also work well on anchors with the provided hover and focus states.
                            strong
                                | Note that the
                                code .text-white
                                |  and
                                code .text-muted
                                |  class has no additional link styling beyond underline.
                        p
                            a.text-primary(href='#') Primary link
                        p
                            a.text-secondary(href='#') Secondary link
                        p
                            a.text-success(href='#') Success link
                        p
                            a.text-danger(href='#') Danger link
                        p
                            a.text-warning(href='#') Warning link
                        p
                            a.text-info(href='#') Info link
                        p
                            a.text-light.bg-dark(href='#') Light link
                        p
                            a.text-dark(href='#') Dark link
                        p
                            a.text-muted(href='#') Muted link
                        p.mb-0
                            a.text-white.bg-dark(href='#') White link
            .col-lg-6
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Metorik Text Color
                    .iq-card-body
                        p
                            | Contextual text classes also work well on anchors with the provided hover and focus states.
                            strong
                                | Note that the
                                code .text-white
                                |  and
                                code .text-muted
                                |  class has no additional link styling beyond underline.
                        p.iq-bg-primary.pl-3.pr-3.pt-2.pb-2.rounded Primary link
                        p.iq-bg-secondary.pl-3.pr-3.pt-2.pb-2.rounded Secondary link
                        p.iq-bg-success.pl-3.pr-3.pt-2.pb-2.rounded Success link
                        p.iq-bg-danger.pl-3.pr-3.pt-2.pb-2.rounded Danger link
                        p.iq-bg-warning.pl-3.pr-3.pt-2.pb-2.rounded Warning link
                        p.iq-bg-info.pl-3.pr-3.pt-2.pb-2.rounded Info link
                        p.iq-bg-dark.pl-3.pr-3.pt-2.pb-2.rounded.mb-0 Dark link
            .col-lg-6
            .iq-card
                .iq-card-header.d-flex.justify-content-between
                    .iq-header-title
                        h4.card-title Metorik Text Color
                .iq-card-body
                    p
                        | Contextual text classes also work well on anchors with the provided hover and focus states.
                        strong
                            | Note that the
                            code .text-white
                            |  and
                            code .text-muted
                            |  class has no additional link styling beyond underline.
                    p
                        a.iq-bg-primary.pl-3.pr-3.pt-2.pb-2.rounded.d-inline-block(href='#') Primary link
                    p
                        a.iq-bg-secondary.pl-3.pr-3.pt-2.pb-2.rounded.d-inline-block(href='#') Secondary link
                    p
                        a.iq-bg-success.pl-3.pr-3.pt-2.pb-2.rounded.d-inline-block(href='#') Success link
                    p
                        a.iq-bg-danger.pl-3.pr-3.pt-2.pb-2.rounded.d-inline-block(href='#') Danger link
                    p
                        a.iq-bg-warning.pl-3.pr-3.pt-2.pb-2.rounded.d-inline-block(href='#') Warning link
                    p
                        a.iq-bg-info.pl-3.pr-3.pt-2.pb-2.rounded.d-inline-block(href='#') Info link
                    p.mb-0
                        a.iq-bg-dark.pl-3.pr-3.pt-2.pb-2.rounded.d-inline-block(href='#') Dark link

