extends ../Layouts/master

block content
    .container-fluid
        .row
            .col-sm-12
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Display headings
                    .iq-card-body
                        p
                            | Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a
                            strong display heading
                            | &mdash;a larger, slightly more opinionated heading style. Keep in mind these headings are not responsive by default, but it&rsquo;s possible to enable
                            a(href='https://getbootstrap.com/' target='_blank') responsive font sizes
                            | .
                        h1.display-1 Display headings
                        h1.display-2 Display headings
                        h1.display-3 Display headings
                        h1.display-4 Display headings
                        h1.display-5 Display headings
                        h1.display-6.mb-0 Display headings
            .col-sm-12.col-lg-6
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Typography
                    .iq-card-body
                        p
                            | All HTML headings,
                            code &lt;h1&gt;
                            |  through
                            code &lt;h6&gt;
                            | , are available.
                        h1 h1. Bootstrap heading
                        h2 h2. Bootstrap heading
                        h3 h3. Bootstrap heading
                        h4 h4. Bootstrap heading
                        h5 h5. Bootstrap heading
                        h6.mb-0 h6. Bootstrap heading
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Inline text elements
                    .iq-card-body
                        p Styling for common inline HTML5 elements.
                        p
                            | You can use the mark tag to
                            mark highlight
                            |  text.
                        p
                            del This line of text is meant to be treated as deleted text.
                        p
                            s This line of text is meant to be treated as no longer accurate.
                        p
                            ins This line of text is meant to be treated as an addition to the document.
                        p
                            u This line of text will render as underlined
                        p
                            small This line of text is meant to be treated as fine print.
                        p
                            strong This line rendered as bold text.
                        p
                            em This line rendered as italicized text.
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Lists Inline
                    .iq-card-body
                        p
                            | Remove a list&rsquo;s bullets and apply some light
                            code margin
                            |  with a combination of two classes,
                            code .list-inline
                            |  and
                            code .list-inline-item
                            | .
                        ul.list-inline
                            li.list-inline-item Lorem ipsum
                            li.list-inline-item Phasellus iaculis
                            li.list-inline-item Nulla volutpat
            .col-sm-12.col-lg-6
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Headings
                    .iq-card-body
                        p
                            code .h1
                            |  through
                            code .h6
                            |  classes are also available, for when you want to match the font styling of a heading but cannot use the associated HTML element.
                        p.h1.mb-3 h1. Bootstrap heading
                        p.h2.mb-3 h2. Bootstrap heading
                        p.h3.mb-3 h3. Bootstrap heading
                        p.h4.mb-3 h4. Bootstrap heading
                        p.h5.mb-3 h5. Bootstrap heading
                        p.h6.mb-0 h6. Bootstrap heading
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Lists Unstyled
                    .iq-card-body
                        p
                            | Remove the default
                            code list-style
                            |  and left margin on list items (immediate children only).
                            strong This only applies to immediate children list items
                            | , meaning you will need to add the class for any nested lists as well.
                        ul.list-unstyled
                            li Lorem ipsum dolor sit amet
                            li Consectetur adipiscing elit
                            li Integer molestie lorem at massa
                            li Facilisis in pretium nisl aliquet
                            li
                                | Nulla volutpat aliquam velit
                                ul
                                    li Phasellus iaculis neque
                                    li Purus sodales ultricies
                                    li Vestibulum laoreet porttitor sem
                                    li Ac tristique libero volutpat at
                            li Faucibus porta lacus fringilla vel
                            li Aenean sit amet erat nunc
                            li Eget porttitor lorem
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Blockquotes
                    .iq-card-body
                        p
                            | For quoting blocks of content from another source within your document. Wrap
                            code &lt;blockquote class=&quot;blockquote&quot;&gt;
                            |  around any
                            abbr(title='HyperText Markup Language') HTML
                            |  as the quote.
                        blockquote.blockquote
                            p.mb-0
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            footer.blockquote-footer
                                | Someone famous in
                                cite(title='Source Title') Source Title
            .col-sm-12
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Description list alignment
                    .iq-card-body
                        p
                            | Align terms and descriptions horizontally by using our grid system&rsquo;s predefined classes (or semantic mixins). For longer terms, you can optionally add a
                            code .text-truncate
                            |  class to truncate the text with an ellipsis.
                        dl.row
                            dt.col-sm-3 Description lists
                            dd.col-sm-9 A description list is perfect for defining terms.
                            dt.col-sm-3 Euismod
                            dd.col-sm-9
                                p Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                                p Donec id elit non mi porta gravida at eget metus.
                            dt.col-sm-3 Malesuada porta
                            dd.col-sm-9 Etiam porta sem malesuada magna mollis euismod.
                            dt.col-sm-3.text-truncate Truncated term is truncated
                            dd.col-sm-9
                                | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                            dt.col-sm-3 Nesting
                            dd.col-sm-9
                                dl.row
                                    dt.col-sm-4 Nested definition list
                                    dd.col-sm-8 Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.

