extends ../Layouts/master

block content
    .container-fluid
        .row
            .col-sm-12
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Unicons Icon
                    .iq-card-body
                        p
                            | Use Class 
                            code <i class="ion-archive"></i>
                        .row.mt-3
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-archive
                                    | Archive
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-reply
                                    | Reply
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-reply-all
                                    | Reply All
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-forward
                                    | Forward
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-play
                                    | Play
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-volume-high
                                    | Volume High
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-pricetags
                                    | Pricetags
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-pause
                                    | Pause
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-briefcase
                                    | Briefcase
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-medkit
                                    | Medkit
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-at
                                    | At
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-pound
                                    | Pound
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-asterisk
                                    | Asterisk
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-alert
                                    | Alert
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-alert-circled
                                    | Alert Circled
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-refresh
                                    | Refresh
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-loop
                                    | Loop
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-shuffle
                                    | Shuffle
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-home
                                    | Home
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-search
                                    | Search
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-flag
                                    | Flag
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-heart
                                    | Heart
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-heart-broken
                                    | Broken
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-gear-a
                                    | Gear
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-gear-b
                                    | Gear bold
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-toggle-filled
                                    | Toggle
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-trash-b
                                    | Trash fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-hammer
                                    | Hammer
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-wrench
                                    | Wrench
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-information-circled
                                    | Information
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-help-circled
                                    | Help
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-plus-circled
                                    | Plush
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-close-circled
                                    | Close
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-email-unread
                                    | Email
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-upload
                                    | Upload
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-soup-can
                                    | Database
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-thumbsup
                                    | Thumbsup
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-thumbsdown
                                    | Thumbsdown
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-pricetag
                                    | Pricetag
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ion-bowtie
                                    | Bowtie
                            .col-sm-12.text-center.mt-3
                                a.btn.btn-primary(href='https://www.unicon.net/', target='blank') View All Icon
