extends ../Layouts/master

block content
    .container-fluid
        .row
            .col-sm-12
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title lineawesome Icon
                    .iq-card-body
                        p
                            | Use Class 
                            code <i class="las la-bell"></i>
                        .row.mt-3
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-bell
                                    | bell
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-phone-volume
                                    | phone
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-radiation
                                    | radiation
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-dog
                                    | dog
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-fish
                                    | fish
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-spider
                                    | la-spider
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-angle-down
                                    | angle-down
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-angle-left
                                    | angle-left
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-angle-right
                                    | angle-right
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-angle-up
                                    | angle-up
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-caret-left
                                    | caret-left
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-caret-right
                                    | caret-right
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-download
                                    | download
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-location-arrow
                                    | location-arrow
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-share
                                    | share
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-backward
                                    | backward
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-play
                                    | play
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-pause
                                    | pause
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-sync
                                    | sync
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-volume-down
                                    | volume-down
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-volume-mute
                                    | volume-mute
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-volume-off
                                    | volume-off
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-volume-up
                                    | volume-up
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.lab.la-youtube
                                    | youtube
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-car
                                    | car
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-truck
                                    | truck
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-tree
                                    | tree
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.lab.la-pinterest-p
                                    | pinterest
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.lab.la-java
                                    | java
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-city
                                    | city
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-edit
                                    | edit
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-copy
                                    | copy
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-cut
                                    | cut
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-pen
                                    | pen
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-tag
                                    | tag
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-save
                                    | save
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-tasks
                                    | tasks
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-comment
                                    | comment
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-video
                                    | video
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-smile
                                    | smile
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-smile
                                    | smile
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.las.la-smile
                                    | smile
                            .col-sm-12.text-center.mt-3
                                a.btn.btn-primary(href='https://icons8.com/line-awesome', target='blank') View All Icon
