extends ../Layouts/master

block content
    .container-fluid
        .row
            .col-sm-12
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Remixicon Icon
                    .iq-card-body
                        p
                            | Use Class 
                            code <i class="ri-4k-fill"></i>
                        .row.mt-3
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-4k-fill
                                    | 4k Fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-4k-line
                                    | 4k line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-account-box-fill
                                    | Account Fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-account-pin-box-line
                                    | account-pin-box
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-award-line
                                    | award-line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-award-fill
                                    | award-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-bookmark-line
                                    | bookmark-line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-bookmark-fill
                                    | bookmark-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-calculator-line
                                    | calculator-line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-calculator-fill
                                    | calculator-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-calendar-line
                                    | calendar-line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-calendar-fill
                                    | calendar-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-reply-line
                                    | reply-line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-reply-fill
                                    | reply-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-send-plane-line
                                    | send-plane-line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-send-plane-fill
                                    | send-plane-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-computer-line
                                    | computer-line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-computer-fill
                                    | computer-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-cellphone-line
                                    | cellphone-line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-cellphone-fill
                                    | cellphone-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-phone-line
                                    | phone-line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-phone-fill
                                    | phone-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-tablet-line
                                    | tablet-line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-tablet-fill
                                    | tablet-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-device-line
                                    | device-line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-device-fill
                                    | device-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-battery-line
                                    | battery-line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-battery-fill
                                    | battery-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-battery-low-line
                                    | battery-low-line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-battery-low-fill
                                    | battery-low-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-file-line
                                    | file-line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-file-fill
                                    | file-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-book-open-line
                                    | book-open-line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-book-open-fill
                                    | book-open-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-lightbulb-line
                                    | lightbulb-line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-lightbulb-fill
                                    | lightbulb-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-map-pin-line
                                    | map-pin-line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-map-pin-fill
                                    | map-pin-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-drop-line
                                    | drop-line
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-drop-fill
                                    | drop-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-drop-fill
                                    | drop-fill
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.ri-drop-fill
                                    | drop-fill
                            .col-sm-12.text-center.mt-3
                                a.btn.btn-primary(href='https://remixicon.com/', target='blank') View All Icon
