extends ../Layouts/master

block content
    .container-fluid
        .row
            .col-sm-12
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Dripicons Icon
                    .iq-card-body
                        p
                            | Use Class 
                            code <div data-icon="a" class="icon"></div>
                        .row.mt-3
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='a')
                                    span 4k Fill
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='o')
                                    span Up Arrow
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='h')
                                    span Down Arrow
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='j')
                                    span Left Arrow
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='i')
                                    span Right Arrow
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='l')
                                    span left
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='k')
                                    span Down
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='n')
                                    span Up
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='m')
                                    span Right
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='f')
                                    span Anchor
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='g')
                                    span File
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='p')
                                    span Note
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='s')
                                    span Dribbble
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='K')
                                    span Download
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='G')
                                    span Sun
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='H')
                                    span Haf light
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='F')
                                    span Light
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='I')
                                    span Voice
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='x')
                                    span Notification
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='J')
                                    span
                                    | Page
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='t')
                                    span Battery Empty
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='u')
                                    span Battery Full
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='v')
                                    span Battery One
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='w')
                                    span Battery Two
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='Q')
                                    span Cart
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='P')
                                    span Card
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='O')
                                    span Camera
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='N')
                                    span Video
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='S')
                                    span Check
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='T')
                                    span Angle Down
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='U')
                                    span Angle Left
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='V')
                                    span Angle Right
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='W')
                                    span Angle Up
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='X')
                                    span Up Arrow
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='Y')
                                    span Clock
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='Z')
                                    span Reload
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='0')
                                    span Cloud
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='1')
                                    span Cloud Download
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='2')
                                    span Cloud Upload
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='5')
                                    span Arrow
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='5')
                                    span Arrow
                            .col-sm-6.col-md-4.col-lg-3.col-xl-2
                                a.iq-icons-list(href='#')
                                    .icon(data-icon='5')
                                    span Arrow
                            .col-sm-12.text-center.mt-3
                                a.btn.btn-primary(href='http://demo.amitjakhu.com/dripicons/', target='blank') View All Icon
