extends ../Layouts/master

block content
    .container-fluid
        .row
            .col-sm-12
                .iq-card
                    .iq-card-header.d-flex.justify-content-between
                        .iq-header-title
                            h4.card-title Fontawesome Icon
                    .iq-card-body
                        p
                            | Use Class 
                            code <i class="fa fa-address-book"></i>
                        .row.mt-3
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-address-book(aria-hidden='true')
                                    | address-book
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-envelope-open(aria-hidden='true')
                                    | envelope-open
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-id-card(aria-hidden='true')
                                    | id-card
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-telegram(aria-hidden='true')
                                    | telegram
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-user-circle(aria-hidden='true')
                                    | user-circle
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-area-chart(aria-hidden='true')
                                    | area-chart
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-asterisk(aria-hidden='true')
                                    | asterisk
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-car(aria-hidden='true')
                                    | car
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-bars(aria-hidden='true')
                                    | bars
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-battery-full(aria-hidden='true')
                                    | battery-full
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-bluetooth(aria-hidden='true')
                                    | bluetooth
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-book(aria-hidden='true')
                                    | book
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-bug(aria-hidden='true')
                                    | bug
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-building(aria-hidden='true')
                                    | building
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-calculator(aria-hidden='true')
                                    | calculator
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-calendar(aria-hidden='true')
                                    | calendar
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-camera(aria-hidden='true')
                                    | camera
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-commenting(aria-hidden='true')
                                    | commenting
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-crop(aria-hidden='true')
                                    | crop
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-download(aria-hidden='true')
                                    | download
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-folder(aria-hidden='true')
                                    | folder
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-gift(aria-hidden='true')
                                    | gift
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-users(aria-hidden='true')
                                    | users
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-hashtag(aria-hidden='true')
                                    | hashtag
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-home(aria-hidden='true')
                                    | home
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-lock(aria-hidden='true')
                                    | lock
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-graduation-cap(aria-hidden='true')
                                    | graduation-cap
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-paper-plane(aria-hidden='true')
                                    | paper-plane
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-star(aria-hidden='true')
                                    | star
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-tag(aria-hidden='true')
                                    | tag
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-trash(aria-hidden='true')
                                    | trash
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-upload(aria-hidden='true')
                                    | upload
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-university(aria-hidden='true')
                                    | university
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-wifi(aria-hidden='true')
                                    | wifi
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-thumbs-up(aria-hidden='true')
                                    | thumbs-up
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-train(aria-hidden='true')
                                    | train
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-file(aria-hidden='true')
                                    | file
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-snapchat(aria-hidden='true')
                                    | snapchat
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-twitter(aria-hidden='true')
                                    | twitter
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-wordpress(aria-hidden='true')
                                    | wordpress
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-wordpress(aria-hidden='true')
                                    | wordpress
                            .col-sm-6.col-md-4.col-lg-2
                                a.iq-icons-list(href='#')
                                    i.fa.fa-wordpress(aria-hidden='true')
                                    | wordpress
                            .col-sm-12.text-center.mt-3
                                a.btn.btn-primary(href='https://fontawesome.com/v4.7.0/', target='blank') View All Icon
