extends ../../Layouts/master
block content
    .container-fluid
        .row
            .col-sm-12
                .iq-card
                    .iq-card-body
                        ul#progressbar.text-center
                            li#step1.active.step0 Cart
                            li#step2.step0 Address
                            li#step3.step0 Payment
                        #cart.card-block.show.b-0
                            .row
                                .col-lg-8
                                    .iq-card
                                        .iq-card-body
                                            .ckeckout-product-lists
                                                .d-flex.align-items-center.justify-content-between
                                                    .ckeckout-product
                                                        img(src='assets/images/index.jpeg')
                                                    .checkout-product-details
                                                        h5 Curabitur Dolor Nunc consectetur adipiscing
                                                        p.text-success In stock
                                                        p.mb-0
                                                            b Quantity
                                                        .input-box
                                                            input.increment(type='number' min='1' max='10' value='1')
                                                        p.mb-0.mt-2 Delivery by, Thu Jan 30
                                                        p.text-success 9% off 3 offers Available
                                                    .checkout-amount-data.text-center
                                                        .price
                                                            h5 $599.00
                                                            p.shopping-info
                                                                i.ri-shopping-cart-2-line.mr-2
                                                                | Free Shipping
                                                        .checkout-button
                                                            a.btn.btn-light.d-block(href='#' type='submit')
                                                                i.ri-close-line.mr-1
                                                                | Remove
                                                            a.btn.btn-primary.d-block.mt-2(href='#' type='submit')
                                                                i.ri-heart-line.mr-1
                                                                | Wishlist
                                    .iq-card
                                        .iq-card-body
                                            .ckeckout-product-lists
                                                .d-flex.align-items-center.justify-content-between
                                                    .ckeckout-product
                                                        img(src='assets/images/index.jpeg')
                                                    .checkout-product-details
                                                        h5 Curabitur Dolor Nunc consectetur adipiscing
                                                        p.text-success In stock
                                                        p.mb-0
                                                            b Quantity
                                                        .input-box
                                                            input.increment(type='number' min='1' max='10' value='1')
                                                        p.mb-0.mt-2 Delivery by, Thu Jan 30
                                                        p.text-success 9% off 3 offers Available
                                                    .checkout-amount-data.text-center
                                                        .price
                                                            h5 $599.00
                                                            p.shopping-info
                                                                i.ri-shopping-cart-2-line.mr-2
                                                                | Free Shipping
                                                        .checkout-button
                                                            a.btn.btn-light.d-block(href='#' type='submit')
                                                                i.ri-close-line.mr-1
                                                                | Remove
                                                            a.btn.btn-primary.d-block.mt-2(href='#' type='submit')
                                                                i.ri-heart-line.mr-1
                                                                | Wishlist
                                    .iq-card
                                        .iq-card-body
                                            .ckeckout-product-lists
                                                .d-flex.align-items-center.justify-content-between
                                                    .ckeckout-product
                                                        img(src='assets/images/index.jpeg')
                                                    .checkout-product-details
                                                        h5 Curabitur Dolor Nunc consectetur adipiscing
                                                        p.text-success In stock
                                                        p.mb-0
                                                            b Quantity
                                                        .input-box
                                                            input.increment(type='number' min='1' max='10' value='1')
                                                        p.mb-0.mt-2 Delivery by, Thu Jan 30
                                                        p.text-success 9% off 3 offers Available
                                                    .checkout-amount-data.text-center
                                                        .price
                                                            h5 $599.00
                                                            p.shopping-info
                                                                i.ri-shopping-cart-2-line.mr-2
                                                                | Free Shipping
                                                        .checkout-button
                                                            a.btn.btn-light.d-block(href='#' type='submit')
                                                                i.ri-close-line.mr-1
                                                                | Remove
                                                            a.btn.btn-primary.d-block.mt-2(href='#' type='submit')
                                                                i.ri-heart-line.mr-1
                                                                | Wishlist
                                    .iq-card
                                        .iq-card-body
                                            .ckeckout-product-lists
                                                .d-flex.align-items-center.justify-content-between
                                                    .ckeckout-product
                                                        img(src='assets/images/index.jpeg')
                                                    .checkout-product-details
                                                        h5 Curabitur Dolor Nunc consectetur adipiscing
                                                        p.text-success In stock
                                                        p.mb-0
                                                            b Quantity
                                                        .input-box
                                                            input.increment(type='number' min='1' max='10' value='1')
                                                        p.mb-0.mt-2 Delivery by, Thu Jan 30
                                                        p.text-success 9% off 3 offers Available
                                                    .checkout-amount-data.text-center
                                                        .price
                                                            h5 $599.00
                                                            p.shopping-info
                                                                i.ri-shopping-cart-2-line.mr-2
                                                                | Free Shipping
                                                        .checkout-button
                                                            a.btn.btn-light.d-block(href='#' type='submit')
                                                                i.ri-close-line.mr-1
                                                                | Remove
                                                            a.btn.btn-primary.d-block.mt-2(href='#' type='submit')
                                                                i.ri-heart-line.mr-1
                                                                | Wishlist
                                .col-lg-4
                                    .iq-card
                                        .iq-card-body
                                            p Options
                                            .d-flex.justify-content-between
                                                span Coupons
                                                span
                                                    a(href='#')
                                                        strong Apply
                                            hr
                                            p
                                                b Price Details
                                            .d-flex.justify-content-between
                                                span Total MRP
                                                span $500
                                            .d-flex.justify-content-between
                                                span Bag Discount
                                                span.text-success -15$
                                            .d-flex.justify-content-between
                                                span Estimated Tax
                                                span $10
                                            .d-flex.justify-content-between
                                                span EMI Eligibility
                                                span
                                                    a(href='#') Details
                                            .d-flex.justify-content-between
                                                span Delivery Charges
                                                span.text-success Free
                                            hr
                                            .d-flex.justify-content-between
                                                span.text-dark
                                                    strong Total
                                                span.text-dark
                                                    strong $450
                                            a#place-order.btn.btn-primary.d-block.mt-1.next(href='javascript:void();' type='button') Place order
                        #address.card-block.b-0
                            .row
                                .col-lg-8
                                    .iq-card
                                        .iq-card-header.d-flex.justify-content-between
                                            .iq-header-title
                                                h4.card-title Add New Address
                                        .iq-card-body
                                            form(onsubmit='required()')
                                                .row.mt-3
                                                    .col-md-6
                                                        .form-group
                                                            label(for='fname') Full Name: *
                                                            input.form-control(type='text' name='fname' required='')
                                                    .col-md-6
                                                        .form-group
                                                            label(for='mno') Mobile Number: *
                                                            input.form-control(type='text' name='mno' required='')
                                                    .col-md-6
                                                        .form-group
                                                            label(for='houseno') Flat, House No: *
                                                            input.form-control(type='text' name='houseno' required='')
                                                    .col-md-6
                                                        .form-group
                                                            label(for='landmark') Landmark e.g. near apollo hospital:: *
                                                            input.form-control(type='text' name='landmark' required='')
                                                    .col-md-6
                                                        .form-group
                                                            label(for='city') Town/City: *
                                                            input.form-control(type='text' name='city' required='')
                                                    .col-md-6
                                                        .form-group
                                                            label(for='pincode') Pincode: *
                                                            input.form-control(type='text' name='pincode' required='')
                                                    .col-md-6
                                                        .form-group
                                                            label(for='state') State: *
                                                            input.form-control(type='text' name='state' required='')
                                                    .col-md-6
                                                        .form-group
                                                            label(for='addtype') Address Type
                                                            select#addtype.form-control(required='')
                                                                option Home
                                                                option Office
                                                    .col-md-6
                                                        button#savenddeliver.btn.btn-primary(type='submit') Save And Deliver Here
                                .col-lg-4
                                    .iq-card
                                        .iq-card-body
                                            h4.mb-2 Nik John
                                            .shipping-address
                                                p.mb-0 9447 Glen Eagles Drive
                                                p Lewis Center, OH 43035
                                                p UTC-5: Eastern Standard Time (EST)
                                                p 202-555-0140
                                            hr
                                            a#deliver-address.btn.btn-primary.d-block.mt-1.next(href='javascript:void();' type='button') Deliver To this Address
                        #payment.card-block.b-0
                            .row
                                .col-lg-8
                                    .iq-card
                                        .iq-card-header.d-flex.justify-content-between
                                            .iq-header-title
                                                h4.card-title Payment Options
                                        .iq-card-body
                                            .d-flex.justify-content-between.align-items-center
                                                .d-flex.justify-content-between.align-items-center
                                                    img(src='assets/images/booking/cart.png' alt='' height='40' width='50')
                                                    span US Unlocked Debit Card 12XX XXXX XXXX 0000
                                                span Nik John
                                                span 28/2020
                                            form.mt-3
                                                .d-flex.align-items-center
                                                    span Enter CVV:
                                                    .cvv-input.ml-3.mr-3
                                                        input.form-control(type='text' required='')
                                                    button.btn.btn-primary(type='submit') Continue
                                            hr
                                            .card-lists
                                                .form-group
                                                    .custom-control.custom-radio
                                                        input#credit.custom-control-input(type='radio' name='customRadio')
                                                        label.custom-control-label(for='credit')  Credit / Debit / ATM Card
                                                    .custom-control.custom-radio
                                                        input#netbaking.custom-control-input(type='radio' name='customRadio')
                                                        label.custom-control-label(for='netbaking')  Net Banking
                                                    .custom-control.custom-radio
                                                        input#emi.custom-control-input(type='radio' name='emi')
                                                        label.custom-control-label(for='emi')  EMI (Easy Installment)
                                                    .custom-control.custom-radio
                                                        input#cod.custom-control-input(type='radio' name='cod')
                                                        label.custom-control-label(for='cod')  Cash On Delivery
                                            hr
                                            .add-card
                                                a(href='#')
                                                    span
                                                        i.ri-add-box-line.mr-2.font-size-18
                                                        | Add Gift Card
                                .col-lg-4
                                    .iq-card
                                        .iq-card-body
                                            h4.mb-2 Price Details
                                            .d-flex.justify-content-between
                                                span Price 3 Items
                                                span
                                                    strong $1000.00
                                            .d-flex.justify-content-between
                                                span Delivery Charges
                                                span.text-success Free
                                            hr
                                            .d-flex.justify-content-between
                                                span Amount Payable
                                                span
                                                    strong $1000.00
    